/* Diseño general */
* {
    margin: 0px;
    padding: 0px;

/* Fonts */
    font-family: 'Prompt', sans-serif;
}

.iconCitaciones {
    width: 20%;
}

/* Background */
.headerIndex {
    background-image: url(../assets/img/bgIndex.png);
    height: 950px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;
}

/* Div colors */
.divRegistro {
    background-color: #A8D8EA;
    padding: 0px;
    margin: 0px;
}

.divVT {
    background-color: #AA96DA;
    margin: 0px;
}

.divCitaciones {
    background-color: #7771E0;
}


/* Imgs */
.imgRegistro {
    padding: 0px 0px 0px 15px;
    margin: 0px;
}

.imgTodos {
    padding: 0px;
    margin: 0px;
}

.imgCitaciones {
    padding: 0px;
    margin: 0px;
}

/* Nav */
.navbar-nav {
    font-size: 20px;
}

/* Buttons */
.btn {
    background-color: black;
}

/* Textos */
.info__titulosU {
    font-size: 35px;
    font-weight: 900;
    padding-top: 20px;
}

.info__titulosD {
    font-size: 35px;
    font-weight: 900;
}

.info__texto {
    font-size: 20px;
    font-weight: 100;
    padding: 50px;
}

.info__tituloVT {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
}

.destacados__titulo {
    font-size: 35px;
    font-weight: 900;
    padding-top: 20px;
}

.destacados__texto {
    font-size: 20px;
    font-weight: 100;
    padding: 50px;
}

.titulo__citaciones {
    font-size: 70px;
    font-weight: 900;
}

.texto__citaciones {
    font-size: 20px;
    font-weight: 100;
    padding: 50px;
}

.footer__texto {
    padding-top: 50px;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
}





