/* Diseño general */
* {
    margin: 0px;
    padding: 0px;

/* Fonts */
    font-family: 'Prompt', sans-serif;
}

.iconCitaciones {
    width: 20%;
    position: relative;
    left: 130px;
}

/* Background */
.headerIndex {
    background-image: url(../assets/img/bgIndex.png);
    height: 950px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;
    padding: 0px;
}

.divMarca {
    background-image: url(../assets/img/bgNosotros.jpg);
    height: 950px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;
    padding: 0px;
}

.bgNosotros {
    background-image: url(../assets/img/bgNosotros1.jpg);
    height: 742px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;
    padding: 0px;
}

/* Div colors */
/* Home */
.divRegistro {
    background-color: #A8D8EA;
}

.divVT {
    background-color: #AA96DA;
    margin: 0px;
}

.divCitaciones {
    background-color: #7771E0;
}

/* Prodcutos */
.bgDiv {
    background-color: #af3b82;
}

.div__todosLP {
    background-color: #FF895D;
}

/* Nosotros */
.divMarca1 {
    background-color: #FBF4EB
    ;
}

.div__sobreNosotros {
    background-color: #FFCDD2;
}

.div__sobreNosotros1 {
    background-color: #E57373;
}

.sobreNosotros1 {
    background-color: #7771E0;
}

.div__nuestraHistoria {
    background-color: #E57373;
}

.div__nuestraHistoria1 {
    background-color: #FFCDD2;
}

.div__fundadores {
    background-color: #90CAF9;
}

/* Contacto */
.divContacto {
    background-color: #7771d6;
}

/* Registro */
.divRegistro {
    background-color: #7771d6;
    text-align: center;
}

.divFormulario {
    background-color: #e6b5ba;
}

.divTerminos {
    background-color: #90CAF9;
}

.div__tyCondiciones {
    background-color: #E8DDD4
}

/* Imgs */
.img__todas {
    padding: 50px
}

/* Nav */
.navbar-nav {
    font-size: 20px;
}

/* Buttons */
.btn {
    background-color: black;
}

/* Textos */
.info__titulosU {
    font-size: 35px;
    font-weight: 900;
    padding-top: 20px;
}

.info__titulosD {
    font-size: 35px;
    font-weight: 900;
}

.info__texto {
    font-size: 20px;
    font-weight: 100;
    padding: 50px;
}

.info__tituloVT {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
}

.destacados__titulo {
    font-size: 35px;
    font-weight: 900;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.destacados__texto {
    font-size: 20px;
    font-weight: 100;
    padding: 50px;
}

.titulo__citaciones {
    font-size: 70px;
    font-weight: 900;
}

.texto__citaciones {
    font-size: 20px;
    font-weight: 100;
    padding: 50px;
}

/* Productos */
.tituloProductos1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.todosTitulos {
    font-size: 50px;
    font-weight: 400;
}

.textoProductos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.textoTodos {
    font-size: 20px;
    font-weight: 100;
    padding: 100px;
}

.todosLP {
    font-size: 70px;
    font-weight: 100;
    writing-mode: vertical-lr;
}

.footer__texto {
    padding-top: 50px;
}

/* Productos */
.bgDiv__text {
    font-size: 60px;
    font-weight: 500;
    padding: 20px;
}

/* Nosotros */
.tituloMarca {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 200px;
    font-weight: 100;
    padding: 20px;
    text-align: center;
}

.textoMarca {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 90px;
    font-weight: 100;
}

.sobreNosotros {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 60px;
    text-align: center;
    padding-left: 100px;
}

.texto__sobreNosotros {
    font-size: 20px;
    font-weight: 100;
    padding: 50px;
}

.sobreNosotros2 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 50px;
    text-align: center;
    padding-left: 100px;
    word-break: break-all;
}

.fundadores {
    text-align: start;
    padding-left: 70px;
}

.coofundadora {
    text-align: start;
    padding-left: 20px;
}

/* Contactos */
.tituloContactos {
    font-size: 40px;
    font-weight: 100;
    color: white;
    padding: 10px;
}

.formColor {
    color: rgb(255 190 223);
}


.contactanos {
    font-size: 30px;
    font-weight: 100;
    padding: 20px 100px;
}

/* Registro */
.tituloRegistro {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 90px;
    font-weight: 400;
}

.tyCondiciones {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 50px;
    padding-bottom: 200px;
}

.texto__condiciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: 100;
    padding: 60px;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
}


/* Extras */
.botones {
    padding-bottom: 30px;
}

.botonEnviar {
    padding-bottom: 30px;
}

.compras {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.talle {
    padding: 0px 50px;
}

.carrito {
    padding: 0px 50px;
}

::placeholder {
    text-align: center;
}

.boton_terminosCondiciones {
    padding-bottom: 20px;
    padding-top: 10px;
}

.genero {
    padding-left: 20px;
}

.terminosCondiciones {
    padding: 20px;
}